@charset "UTF-8";

* {
    margin: 0px;
    padding: 0px;
}

html, body {
    background-color: darkgray;
    min-height: 100vh; /*100% da view hight, altura*/
}

header {
    background-color: black;
    color: white;
    text-align: center;
}

header > h1 {
    padding-top: 50px;
    /*text-transform: uppercase; joga todas as letras para maiúsculas*/
    font-variant: small-caps; /*todas as letras maiúsculas porém com as iniciais maiores.*/
}

header > p {
    padding-bottom: 50px;
}

section {
    padding-top: 10vh;
    padding-bottom: 10vh;
    line-height: 2em;
    padding-left: 30px;
}

section.normal {
    background-color: white;
    color: black;
}

section.imagem {
    background-color: rgb(37, 37, 37);
    color: white;
}

section.imagem > p {
    background-color: rgba(0, 0, 0, 0.322);
    width: 400px;
    color: white;
}

a {
    color: white;
    text-decoration: none;
    font-weight: bolder;
}

a:hover {
    text-decoration: underline;
    transition-duration: 0.5s;
}

footer {
    background-color: black;
    text-align: center;
    color: white;
    padding: 10px;
}