@charset "UTF-8";

/*
    em HTMl é id = CSS é #
    em HTML class = CSS é .

    id - só pode ter um
    class - podem ter multiplos

    id e class sobrepõe
    class vem antes do id
*/

body {
    background-image: linear-gradient(to left,rgb(46, 9, 105),rgb(81, 27, 133));
    font-family: Georgia, 'Times New Roman', Times, serif;
}

main {
    background-image: linear-gradient(to left, rgb(255, 255, 255), rgba(154, 125, 170, 0.781));
    border-radius: 50px;
    width: 500px;
    padding: 15px;
    margin: auto;
    box-shadow: 15px 15px 15px rgba(0, 0, 0, 0.24);
}

h1 {
    color: rgb(45, 3, 83);
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

h1#principal {
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
    background-color:rgb(43, 5, 78);
    border-radius: 50px;
    color: rgb(255, 255, 255);
}

h2 {
    color: rgb(81, 13, 126);
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

p {
    color: rgb(0, 0, 0);
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.basico {
    color: rgb(98, 42, 150);
    font-weight: bold;
}

.intermediario {
    color:rgb(56, 9, 95);
}

.avancado {
    color: indigo;
}

.destaque {
    background-color: rgba(209, 143, 209, 0.774);
    border-radius: 5px;
}