@charset "UTF-8";

* {
     font-family: Arial, Helvetica, sans-serif;
     margin: 0px;
     padding: 0px;
}

body, html {
   background-color: rgba(0, 0, 0, 0.534);
}

header {
   background-image: linear-gradient(to right, black, transparent);
}

header > h1 {
    padding: 10px;
    text-align: center;
    color: white;
}

menu {
    display: block;
}

menu > ul {
    list-style-type: none;
}

menu a {
    display: block;
    padding: 10px;
    text-decoration: none;
    background-color: rgb(0, 0, 0);
    color: white;
    text-align: center;
    border-top: solid rgba(43, 43, 43, 0.575);
}

menu > ul > li > a:hover {
   background-image: linear-gradient(to left,  rgb(43, 2, 95), rgb(5, 5, 90), rgba(76, 0, 130, 0.459), transparent);
}

main {
    width: 90vw;
    background-color: white;
    margin: auto;
    padding: 10px;
    padding-top: 20px;
    border-radius: 10px;
    margin-top: 10px;
    text-align: center;
}

article > h2 {
    padding-bottom: 20px;
}

article > p {
    text-align: justify;
    margin-bottom: 20px;
    text-indent: 20px;
}